table {
  border: 1px solid rgb(94, 93, 93);
  border-collapse: separate;
  border-left: 0;
  border-radius: 4px;
  border-spacing: 0px;

}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
  filter: drop-shadow(10px 10px 15px rgb(25, 0, 255)) invert(75%);
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  filter: drop-shadow(10px 10px 15px rgb(25, 0, 255)) invert(75%);
}
th,
td {
  padding: 5px 4px 6px 4px;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid rgb(94, 93, 93);
  filter: drop-shadow(10px 10px 15px rgb(25, 0, 255)) invert(75%);
}
td {
  border-top: 1px solid rgb(94, 93, 93);
}
thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child,
tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

@media (max-width: 350px) {
  body {
    background-color: #50de8b;
  }
  td {
    font-size: 19px;
  }
  th {
    font-size: 19px;
  }
}
